table {
  font-size: 1.2rem;
  border-collapse: collapse;
}

th {
  border: 2px solid #000000;
  padding: 10px;
  background-color: yellow;
}
td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: left;
}
